<!DOCTYPE html>
<html lang="en">
<head>

</head>
<header class="inicio">
  <nav class="iconitos">
    <a href="/users/login"><img src="/img/icono-tabla.svg" class="iconoheader" alt="login"></a>
    <a href="/users/register"><img src="/img/icono-manito.svg" class="iconoheader" alt="login"></a>
    <a href="/productos/carrito"><img src="/img/carritocompra.svg" class="iconoheader" alt="login"></a>
    <a href="/productos/productos"><img src="/img/icono-surfer.svg" class="iconoheader" alt="login"></a>
    <a href="/escuelas/escuelascreate"><img src="/img/icono-furgoneta.svg" class="iconoheader" alt="login"></a>
   
  </nav>
 </header>
 </html>