<header class="navbar-seagull">
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/escuelas/escuelasList">ESCUELAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/escuelas/escuelascreate">¡SUMA TU ESCUELA!</a>
        </li>
        <a class="navbar-logo" href="/">
          <img class="imagenlogo" src="https://res.cloudinary.com/dgofs3hfj/image/upload/v1697649666/backgrounds/Component_15_mrrrgw.png" alt="Logo">
        </a>
        <li class="nav-item">
          <a class="nav-link" href="/productos/productos">NUESTROS PRODUCTOS</a>
        </li>
        <a class="nav-item" href="/productos/carrito" role="button">
          <img class="iconos" src="\img\iconografia\carrito-de-compras.png" alt="Icono Carrito">
        </a>
      </ul>
    </div>
  </nav>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</header>
