
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/crearProductos.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</head>
<%- include ('partials/head.ejs') %>
<body>
 
  <%- include ('partials/header.ejs') %>
  <div class="contenedor-celeste">
    <h1 class="titulo">FORMULARIO PARA CARGAR PRODUCTOS</h1>
    <form action="/productos/crearProducto" method="POST" enctype="multipart/form-data" name="productoNuevo" class="row g-3">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre del producto</label>
        <input type="text" class="form-control" name="nombre" id="nombre" required>
      </div>
      <div class="col-md-6">
        <label for="descripcion" class="form-label">Descripción del producto</label>
        <textarea class="form-control" name="descripcion" id="descripcion" rows="3" required></textarea>
      </div>
      <div class="col-md-6">
        <label for="precio" class="form-label">Precio</label>
        <input type="text" class="form-control" name="precio" id="precio" placeholder="ARS $0OOO,OO" required>
      </div>
      <div class="col-md-6">
        <label for="categoria" class="form-label">Categoría</label>
        <select id="categoria" class="form-select" name="categoria" required>
          <option selected disabled>Seleccione una categoría...</option>
          <option value="Ropa">Ropa</option>
          <option value="Accesorios">Accesorios</option>
          <option value="Recipientes">Recipientes</option>
          <option value="Cuidado personal">Cuidado personal</option>
        </select>
      </div>
      <div class="col-12">
        <label for="imagen" class="form-label">Imágenes</label>
        <input class="form-control" type="file" name="imagen" id="imagen" accept="image/*" required>
      </div>
    
      <div class="col-12">
        <button type="submit" class="btn btn-primary">CREAR PRODUCTO</button>
      </div>
    </form>

</div>
</form>
<script src="ruta/a/jquery.js"></script>
<script src="ruta/a/bootstrap.js"></script>

</body>
</html>