<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head.ejs') %>

    <link href="/css/login.css" rel="stylesheet">
    
     <%- include ('partials/header.ejs') %>
<body>
        
        <main>

            <section class="contenedor_form ">
                <div class="div_form borde-celeste">
                    <form action="/login" method="POST" class="formulario">
                        <img class="icono" src="/img/iconografia/surf.png">

                        <h1 class="iniciosesion">INICIO DE SESION</h1>
                        <P> ¡Bienvenido otra vez surfer, te extrañamos!</P>
                         <div class="completar">
                            
                        <input type="email" placeholder="  e-mail" class="input">
                        <input type="password" placeholder="  contraseña" class="input">
                    </div>

                        <a class="TextoOlvido">¡Ups! No recuerdo mi contraseña. </a>
                        <br>
                        <a href="/users/register" class="TextoCreaCuenta">CREA TU CUENTA</a>
                     
                        <br>
                        <div>

                        <div class="boton text-center"> 
                            <a class="btn  btn-color" href="">INICIAR SESION</a>
                        </div>
                    </form>
                </div>
            </section>
        </main>
        <%- include ('partials/footer.ejs') %>
        </body>
        
        </html>
