<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>
<link href="/css/login.css" rel="stylesheet">

<body>
    <%- include ('partials/header.ejs') %>
    <div class="contenedor-celeste">
        <h1 class="titulo">LOGIN ADMINISTRADORES</h1>
        <p>¡Bienvenido otra vez admin!</p>
                <form action="/users/login" id="loginform" method="POST">
                  <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="contrasena" placeholder="Contraseña">
                  </div>
                  <!-- Mostrar errores de validación -->
                  <% if (locals.errors) { %>
                    <div class="error-message">
                        <% for (let error of locals.errors) { %>
                            <p><%= error.msg %></p>
                        <% } %>
                    </div>
                <% } %>
                  <div class="mb-3 text-center">
                    <a class="card-link" href="#">¡Ups! No recuerdo mi contraseña.</a>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary">INICIAR SESIÓN</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
      
          <script src="/js/usuario.js"></script>
      
</body>
</html>


