<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/productos.css">

<%- include ('partials/head.ejs') %>
<body>

    <%- include ('partials/header.ejs') %>
  <main>

    <h1>PRODUCTOS</h1>


    <div class="contenedor">
        
      <article class="producto1">
          <a href="/producto/#traje"><img src="/img/traje.jpeg" class="product"></a>
          <div class="Caja_producto">
              
              <div class="cafeDatos">
                  <p class="precio">40.000</p>
                  <p class="descuento">10% off</p>
                  <p class="descripcion">Traje Neoprene negro  </p>
              </div>
          </div>
      </article>

      <article class="producto2">
          <a href="/producto/#trajecorto"><img src="/img/traje-corto.jpeg" class="product"></a>
          <div class="Caja_producto">
              <div class="compuDatos">
                  <p class="precio">30.000</p>
                  <p class="descuento">5% off</p>
                  <p class="descripcion">Traje Neoprene negro y rojo </p>
              </div>
          </div>
      </article>
      <article class="producto3">
          <a href="/producto/#traje largo"><img src="/img/trajeee.jpeg" class="product" ></a>
          <div class="Caja_producto">
             
              <div class="teleDatos">
                  <p class="precio">45.000</p>
                  <p class="descuento">0% off</p>
                  <p class="descripcion">Traje Neoprene negro y azul </p>
              </div>
          </div>
      </article>

      <article class="producto4">
          <a href="/producto/#traje corto"><img src="/img/corto.jpeg" class="product"></a>
          <div class="Caja_producto">
             
              <div class="fonoDatos">
                  <p class="precio">25.000</p>
                  <p class="descuento">5% off</p>
                  <p class="descripcion">Traje Neoprene negro y verde</p>
              </div>
          </div>
      </article>
</div>
<div class="espaciador"></div>
<div class="contenedor">
  
  <article class="producto1">
      <a href="/producto/#funda"><img src="/img/funda.jpeg" class="product"></a>
      <div class="Caja_producto">
         
          <div class="cafeDatos">
              <p class="precio">17.000</p>
              <p class="descuento">5% off</p>
              <p class="descripcion">Funda Tabla De Surf Negra</p>
          </div>
      </div>
  </article>

  <article class="producto2">
      <a href="/producto/#tabla-blanca"><img src="/img/tablaa.jpg" class="product"></a>
      <div class="Caja_producto">
         
          <div class="compuDatos">
              <p class="precio">44.000</p>
              <p class="descuento">10% off</p>
              <p class="descripcion">Tabla De Surf 5.10 Blanca</p>
          </div>
      </div>
  </article>
  <article class="producto3">
      <a href="/producto/#funda-gris"><img src="/img/funda2.jpeg" class="product"></a>
      <div class="Caja_producto">
         
          <div class="teleDatos">
              <p class="precio">13.000</p>
              <p class="descuento">0% off</p>
              <p class="descripcion">Funda Tabla De Surf Gris</p>
          </div>
      </div>
  </article>

  <article class="producto4">
      <a href="/producto/#tablon"><img src="/img/tabla2.png" class="product"></a>
      <div class="Caja_producto">
        
          <div class="fonoDatos">
              <p class="precio">35.000</p>
              <p class="descuento">5% off</p>
              <p class="descripcion">Tablon 7.0 Gris</p>
          </div>
      </div>
  </article>
</div>
    
  <%- include ('partials/footer.ejs') %>
  </main>
</body>
</html>
