<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head.ejs') %>
<link rel="stylesheet" href="/css/register.css">

<body>
    <%- include ('partials/header.ejs') %>
    
    <main>
        <div class="contenedor_form">
            <div class="div_form">
                <form method="POST" action="/users/register" enctype="multipart/form-data" class="formulario" name="formularioUsuario">
                    <img src="\img\iconografia\tabla-de-surf.png" class="icono_form">
                    <h1>¡CREA TU CUENTA!</h1>
                    <P> Regístrate y serás parte de la familia Seagull</P>
                    <div class="completar">
                        <input name="nombre" type="text" placeholder="Nombre completo" class="nombre">
                        <input name="email" type="email" placeholder="E-mail" class="nombre">
                        <input name="contrasena" type="password" placeholder="Contraseña" class="nombre">
                        <input name="telefono" type="tel" placeholder="Teléfono" class="nombre">
                        <label>Carga una foto de perfil</label>
                        <input name="imagenPerfil" type="file" placeholder="usuarioimg" value="REGISTRARME" class="nombre">
                    </div>
                    <div class="boton text-center">
                        <input type="submit" value="REGISTRARME" class="btn  btn-color" href="">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>
