body {
  background-image: url(/img/fondoMar.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
}

/* Estilos por defecto */
.titulo {
  font-family: 'Klee One';
  font-size: 24px;
  color: #7cb1b8;
  text-align: center;
  font-weight: bold;
  margin-top: 1%;
}

.texto-contenedor h3 {
  margin-top: 0;
  font-family: "Roboto Mono";
  margin-top: 2%;
  font-size: 14px;
  color: #5F6368;
  text-decoration: underline;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 120vh;
  margin-top: -180px;
}

.item-contenedor {
  background-color: rgba(255, 255, 255, 0.726);
  border: 3px solid #92C1D0;
  padding: 10px;
  width: 40vw;
  display: flex;
  border-radius: 7px;
  height: 180px;
  transition: transform 0.3s ease;
}

.item-contenedor:hover {
  transform: scale(1.1);
}

.img-container {
  width: 150px;
  height: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.img-item {
  width: 80%;
  height: auto;
  margin-left: 7%;
}

.texto-contenedor {
  display: flex;
  flex-direction: column;
  color: rgb(17, 15, 15);
  margin-top: 0%;
}

.texto-bajo {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-family: 'Roboto Mono' !important;
}

.texto-bajo .texto-izquierda {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
  margin-top: -2px;
}

.texto-bajo .texto-derecha {
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
  margin-top: -2px;
}

.nombreProd {
  color: #165A7A;
  font-family: 'Klee One';
  font-size: 20px !important;
  text-align: left;
  font-weight: bold;
}

.espaciador {
  margin-top: 20px;
}

.contenedor_iconos {
  display: flex;
  justify-content: end;
}

.iconos {
  color: black;
  width: 40px;
  height: 40px;
}

.precio-total {
  color: #5F6368;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  border-top: 1px solid rgba(176, 222, 228, 0.40);
  border-bottom: 1px solid rgba(176, 222, 228, 0.40);
  font-family: 'Roboto Mono';
}

.contenedor-input {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.input-like {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 80%;
  max-width: 300px;
  height: 40px;
  background-color: rgba(60, 133, 143, 0.8);
  border-radius: 7px;
  font-family: 'Roboto Mono';
  font-size: 16px;
  text-align: center;
  color: #5F6368;
}

.Boton_borrar {
  width: 30vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(62, 135, 145, 0.459);
  border-radius: 7px;
  font-family: "Roboto Mono";
  font-size: 12px;
  color: beige;
  border: #FFFFFF;
  margin-top: -3%;
}

.Boton_borrar:hover {
  color: #1A545C;
}
.Boton_editar {
  width: 30vh;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(62, 135, 145, 0.459);
  border-radius: 7px;
  font-family: "Roboto Mono";
  font-size: 12px;
  color: beige;
  border: #FFFFFF;
  margin-top: 2%;
}
.Boton_editar:hover {
  color: #1A545C;
}
.btn {
  font-family: "Klee One" !important;
  color: white !important;
  font-size: 15px;
}

.btn-color {
  background-color: #1A545C !important;
  color: #FFFFFF;
  font-family: "Klee One" !important;
}

.btn-color:hover {
  color: #a2cdd3 !important;
}

footer {
  margin-top: -130px;
}

/* Estilos responsivos */
@media screen and (max-width: 1200px) {
  .item-contenedor {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .item-contenedor {
    width: 80vw;
  }

  .precio-total {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 600px) {
  .item-contenedor {
    width: 90vw;
    max-width: 300px;
  }

  .precio-total {
    margin-right: 5%;
    margin-left: 5%;
  }
}
