
* {
  font-family: 'Roboto Mono', monospace !important;
}

body{
  background-image: url("../img/buseo.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
}

.espaciador{
  margin-bottom: 20px;
}

.input-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Ajusta el valor según tus preferencias */
}

.inputF {
  width: 80%; /* Ajusta el valor según tus preferencias */
  margin-bottom: 10px; /* Ajusta el valor según tus preferencias */

}

.inputF label {
  font-size: 1.2em; /* Ajusta el valor según tus preferencias */
}
.nombre-input{
  color: white;
  font-family: 'Roboto Mono';
  font-weight: 0;
}
.mb-3{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px; /* Ajusta el valor según tus preferencias */
  width: 80%; /* Ajusta el valor según tus preferencias */
  margin-bottom: 10px;
}
.contenedor-archivos{
  display: flex;
  justify-content: center;
}


/* Escuelas.css */
.input-1 textarea {
  background-color: transparent; /* Establece el fondo transparente */
  color: white; /* Cambia el color del texto a blanco */
}

.input-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center ;
  padding: 10px; /* Ajusta el valor según tus preferencias */
  width: 50%;
  margin-left: 25%;
}




/* Escuelas.css */
input[type="text"],
input[type="email"]{
color: white;
}
textarea,
input[list],
input[type="file"]

 {
  font-family: 'Roboto Mono', monospace; /* Cambia la fuente a Roboto Mono o a una fuente monoespaciada */
  font-size: 14px; /* Cambia el tamaño de la fuente a 14 píxeles */
  color: white; /* Cambia el color del texto a blanco */
  background-color: transparent; /* Establece el fondo transparente */
  border: solid; /* Elimina el borde */
  border-bottom: 1px solid #ccc; /* Agrega un borde inferior para indicar el campo */
  outline: none; /* Elimina el contorno cuando se selecciona */
}



/* EXTRAS CSS */
.contenedor-celeste {
  background-color: #4ab9df57;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.titulo {
  font-family: 'Klee One' !important;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.boton-submit {
  color: white;
  font-family: "Klee One";
  font-size: 15px;
  background-color: #1A545C !important;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  }

.boton-submit:hover {
  color: #a2cdd3 !important;
}






