
* {
  font-family: 'Roboto Mono', monospace !important;

}
.ola {
  background-color: white;
  opacity: 0.9;
  border: 8px solid #92C1D0;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  width: 30%;;
  height:35vw; 
}


main{
  margin-left: 3%;
 
}

main p {
color:#92C1D0;
margin-top: 1%;
font-size: 40px;
font-weight: 0;

}

main h4{
  color: white;
}


body{
  
  background-image: url("../img/fondovistaec.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;

}
.deportes{
  font-size: 20px;
}