* {
  font-family: 'Roboto Mono', monospace;
}

.escuelas {
  font-family: "Klee One";
}

.ola {
  background-color: white;
  opacity: 0.9;
  border: 8px solid #92C1D0;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  max-width: 500px; 
}

.icono {
  width: 24%;
  height: auto;
  opacity: 0.5;
}

main {
  margin-left: 3%;
}

main p {
  color: #92C1D0;
  margin-top: 1%;
  font-size: 40px;
  font-weight: bold;
}

main h4 {
  color: white;
}

.deportes {
  font-size: 20px;
}

.linkss a {
  margin-left: 4vw;
  text-decoration: none;
  color: #92C1D0;
  font-size: 12px;
}

.buscador {
  margin-bottom: 2vw;
  font-family: "Klee One";
  color: white;
  font-size: 15px;
  background-color: #1A545C;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  max-width: 200px; 
}

.buscador:hover {
  background-color: #a2cdd3;
  color: white;
}
