body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .finpagina {
    background-color: #3d525c18;
    width: 100%;
    padding-top: 20px;
  }
  
  .footer-content {
    flex-grow: 1;
  }
  
  .final {
    text-align: center;
    font-family: 'Chelsea Market', monospace;
    font-size: 10px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #5a717c;
  }
  

.email {
    text-decoration: none;
    color: #6e9cb2;
    font-size: 15px !important;
   } 

ul {
    list-style-type: none;
}


.sponsor{
    display: flex;
    box-sizing: border-box;
    margin: auto;
    opacity: 0.6;
    justify-content: center;
    align-items: center;
     }
 
.marca {
    display: flex;
    justify-content: space-around;
     width: 60px;
     height: auto;
     border-radius: 5px;
     box-sizing: border-box;
     margin: auto;
     margin-bottom: 2%;
}

.nosotras{
  font-family: "Chelsea Market";
  color:#4386a5;
  text-align: end;
  font-size: 30px !important;
}

.accesoAdm{
  text-align: end !important;
  margin: auto !important;
  margin-right: 5% !important ;
margin-top: -5px;
}


.copyright{
  font-family: "Chelsea Market";
  color:#6e8c9a;
  text-align: end;
  font-size: 15px !important;
  
}

     .socialmedia {
    font-size: 1.3rem;
    letter-spacing: 10px;   
     }

     @media (min-width: 769px) {
        .marca {
            display: flex;
            justify-content: center;
        }
    }

    @media (min-width: 361px) {
        .marca {
            justify-content: center;
        }
            }