.navbar-seagull{
  font-family: 'Roboto Mono', monospace;
  font-size: 7px;
}

.dropdown-menu{
  opacity: 0.5;
}

.nav-item{
  justify-items: flex-center;
}


.dropdown-item{
  font-size: 11px;
  justify-content: center;
}

.imagenlogo{
  width: auto;
  height: 50px;

}

.iconos{
  width: 30px;
  height: auto;
  opacity: 0.5;
}

.iconoTienda {
  width: 30px;
  height: auto;
  opacity: 0.5;
}

.icono-furgoneta{
  width: 35px;
  height: auto;
  opacity: 0.5;
}

.icono-nosotros{
  width: 34px;
  height: auto;
  opacity: 0.5;
}

.icono-tabla{
  width: 32px;
  height: auto;
  opacity: 0.5;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 80;
  z-index: 1000;
}


@media (max-width: 768px) {
  .navbar-seagull {
    flex-direction: column;
  }

  .navbar-nav {
    margin-top: 10px;
    text-align: right;
  }

  .navbar-nav .nav-item {
    margin: 5px;
  }

  .navbar-nav .dropdown-menu {
    right: auto;
    left: -120px;
  }
}
