*{
  font-family: 'Chelsea Market';
  color: #137DB0 !important;
  text-align: center;
}

body {
  background-image: url(https://res.cloudinary.com/dgofs3hfj/image/upload/v1695587609/backgrounds/a28c63849546d6df9597030598c7ad37_ij3pr7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  font-family: "Roboto Mono";
  font-size: 20px;
  color: #205a75 !important;
}
 
.contenedor{
background-color: #b9e6fc0c;
border: 2.5px solid #53849bc5;
padding: 20px;
margin-bottom: 20px;
display: inline-block; 
vertical-align: top;
border-radius: 12px;
}

.boton{
  font-family: "Roboto Mono";
  font-size: 12px;
}

@media (min-width: 769px) {
  .imagenes {
      display: flex;
      justify-content: center;
  }
}

@media (min-width: 361px) {
  .imagenes {
      display: flex;
      justify-content: center;

  }

}