*{
  font-family: 'Klee One';
}

body {
  background-image: url(/img/fondoMar.png);
}
 
.boton1{  
  width: 500px;
  height: 500px;
  margin-left: 170px;
  border-radius: 9px;
}

.boton2{  
  width: 500px;
  height: 500px;
  margin-left: 170px;
  border-radius: 9px;
}

@media (min-width: 769px) {
  .imagenes {
      display: flex;
      justify-content: center;
  }
}

@media (min-width: 361px) {
  .imagenes {
      display: flex;
      justify-content: center;

  }

}