*{
  font-family: 'Chelsea Market';

  font-size: 12px;
  text-align: center;
}

body {
  background-image: url("https://res.cloudinary.com/dgofs3hfj/image/upload/v1697442157/backgrounds/54fcfa02079fb1c3d8f1837aad2c0bd4_hgyqha_1_2_zxmx6d.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: 'Chelsea Market';
  color: #497d96!important;
  font-size: 20px;
  text-align: center;

}

h2{
  font-family: "Chelsea Market";
  font-size: 15px;
  color: #4182a0 !important;
}
 
.contenedor{
background-color: #b9e6fc0c;
border: 2.5px solid #53849bc5;
padding: 20px;
margin-bottom: 20px;
display: inline-block; 
vertical-align: top;
border-radius: 12px;
}

.boton{
  font-family: "Roboto Mono";
  font-size: 11px;
  color: rgb(59, 55, 55);
}

@media (min-width: 769px) {
  .imagenes {
      display: flex;
      justify-content: center;
  }
}

@media (min-width: 361px) {
  .imagenes {
      display: flex;
      justify-content: center;

  }

}