body{
  margin-right: 2px;
}

.banner {
    background-image: url("https://res.cloudinary.com/dgofs3hfj/image/upload/v1697442157/backgrounds/54fcfa02079fb1c3d8f1837aad2c0bd4_hgyqha_1_2_zxmx6d.png") !important;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 350px;
      width: auto;
    }
  
  h1 {
  font-family: 'Chelsea Market';
  font-size: 20px;
  color: #497d96 ;
  text-align: center;
    }

  .collage{
    background-image: url("https://res.cloudinary.com/dgofs3hfj/image/upload/v1697444511/backgrounds/Component_14_i2m3pe.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 400px;
    width: auto;

    }

    h2 {
      font-family: 'Chelsea Market';
      font-size: 25px !important;
      color: #497d96 ;
      text-align: center;
      margin-top: auto;
      margin: 5%;
    }

    p{
      font-family: "Roboto Mono";
      font-size: 12px !important;
      margin-right: 80px !important; 
      text-align: justify; 
      margin: 3%;
}


.bg-row {
  background-color: #497e9618;
}

.row{
  justify-content: center;
}

.imgInfo{
  max-width: 100%; 
  width: 190px;
  height: auto; 
  margin: 5%;
  margin-left: 20%;
}

.accesoRapido{
 font-family: "Klee One";
 text-align: center;
 justify-content: center;
}


 .accesoRapido a.boton {
  color: #539cc0 !important;
  padding: 10px 20px; /* Ajusta el relleno para controlar el tamaño del botón */
  display: inline-block; /* Hace que el botón ocupe solo el espacio necesario */
  text-align: center;
  justify-content: center;
 }

