* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  text-align: justify;
  font-size: 12px;
  border-radius: 10px;
}

header .navbar{
  border-radius: 0 !important;
}

body {
  background-image: url("https://res.cloudinary.com/dgofs3hfj/image/upload/v1697440941/backgrounds/91d587fea0971655974603585da5cca8_k0ve8k_1_fid9h2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-y: scroll; 
  margin: 0;
}

p{
  font-family: 'Roboto Mono';
  font-size: 12px;
  color: #2095a5;
  text-align: center;
}

.contenedor-celeste {
  background-color: #eaeff19d !important;
  font-family: "Roboto Mono";
  font-size: 12px !important;
  border: 5px solid #92C1D0;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto; 
  margin-right: auto; 
  width: 50%; 
  overflow: hidden; 
}

.titulo {
  display: flex;
  justify-content: center;
  font-family: 'Chelsea Market';
  font-weight: 20;
  font-size: 20px;
  color:#1f5060 ;
  text-align: justify;
  overflow: hidden; 
}

.div_form {
  background-color: rgba(255, 255, 255, 0.6);
  width: 30vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding-bottom: 2%;
  border: #92C1D0;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  text-align: justify;
}



.TextoOlvido{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #5F6368;
  font-family: 'klee one';
  font-size: 13px;
  text-align: justify;
}

.TextoCreaCuenta{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgba(60, 133, 143);
  font-family: 'klee one';
  font-size: 14px;
  text-align: justify;
}

.TextoCreaCuenta:hover {
  text-decoration: underline;
}

.btn-primary {
  color: white !important;
  font-family: "Klee One"!important;
  font-size: 15px;
  background-color:   #a2cdd3  !important;
  border-color: #92C1D0 !important;
  color: #FFFFFF;
  align-items: center;

}

.btn-primary:hover {
  background-color: #038091 !important;
}


.input {
  margin: 1.5vw;
  width: 20vw;
  height: 3vw;
  margin-top: 1vw;
  border: #a2cdd3 solid 2px ;
}


@media (min-width: 769px) {
  .icono_form {
    width: 30%;
    height: 30%;
  }

  .iniciosesion {
    font-size: 1rem
  }

  .input {
    font-size: 1rem
  }

}

@media (min-width: 361px) {
  .icono_form {
    width: 30%;
    height: 30%;
  }

  .iniciosesion {
    font-size: 0.7rem;
  }

  .input {
    font-size: 1rem
  }
}