.titulo{
    font-family: 'Klee One';
    font-size: 20px;
    color: #061D28;
    text-align: center;
    font-style: bold;
      }

/* CUADRO DE BÚSQUEDA DE PRODUCTO */
.search input[type="search"] {
    font-family: 'Klee One', cursive;
    font-size: 12px;
    color: #333333;
}

.search .form-inline label {
    font-family: 'Klee One';
    font-weight: bold;
    text-transform: uppercase;
}


.d-flex {
    width: 30em;
}

/*BODY Y CONTENEDOR */
body {
    margin: 0;
    padding: 0;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/fondoproducts.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Ajusta la opacidad deseada */
    z-index: -1;
    background-position: center top;
  }
  
  .contenedor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
  }

/* PRODUCTOS */
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .producto {
    background-color: white;
    border: 5px solid #92C1D0;
    border-radius: 10px;
    width: 200px; /* Ajusta el ancho deseado */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .producto .imagen {
    margin-bottom: 10px;
  }
  
  .producto .imagen img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .producto .linea {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 10px;
  }
  
  .producto .detalle {
    text-align: center;
  }
  .producto:hover {
    transform: scale(1.05);
  }

  .detalle {
    font-family: 'Klee One';
    margin: 0;
  }
  
  .product {
    width: 100%;
    height: 100%;
  }
  
  .barra_img {
    width: 100%;
    height: 50px;
  }
  
  .Caja_producto {
    background-color: white;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
