.titulo{
  font-family: 'Chelsea Market' !important;
  font-size: 24px;
  color: #497d96 ;
  text-align: center;
    }

h2 {
  font-family: 'Chelsea Market', cursive;
  font-weight: normal;
  font-size: 50px;
  color: #165A7A;
}

#Miboton {
  background-color: #1A545C;
  font-family: 'Klee One', cursive;
}

#mediospago {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
}

.parrafo-1 {
  font-family: 'Klee One', cursive;
  color: #165A7A;
}

.parrafo-2 {
  font-family: 'Roboto Mono', monospace;
  color: #696A6C;
  font-size: 14px;
}

.row {
  font-family: 'Roboto Mono', monospace;
  color: #696A6C;
  font-size: 14px;
}

.btn {
  color: white !important;
  font-family: "Klee One";
  font-size: 15px;
}

.btn-color {
  background-color: #1A545C !important;
  color: #FFFFFF;
}

.btn-color:hover {
  color: #a2cdd3 !important;
}

h3{
    font-family: 'Roboto Mono', monospace;
    color: #696A6C;
    font-size: 16px !important;
  }

h4{
  font-family: "Klee One";
  font-size: 15px !important;
  color: #277396 !important; 
  text-align: center;
  font-weight: bold !important;
}

.descripcion{
  font-size: 14px;
}


.precio{
  font-size: 12px;
  text-align: left;
  color: #666666 !important;
}

.nombreProd{
  font-family: "Klee One";
  font-size: 16px !important;
  color: #53a4ca !important;
  font-weight: bold;
  text-transform: uppercase;
}

