
* {
  font-family: 'Roboto Mono', monospace !important;
}


body {
  background-image: url("../img/register.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
}

body::after {
  content: '';
  background: #333;
  position: absolute;
  width: calc(100vw + 30vw);
  height: calc(100% + 30vh);
  left: -30vw;
  top: -20vh;
  opacity: 0.4;
  z-index: -1;
}

header {
  width: 100%;
  height: 3vh;
  background-image: url("../img/PlayaCaribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  opacity: 0.4;
  background-color: #ccc;
}


.contenedor_form {
  border-radius: 10px;
  margin: 10px;
}

h1{
display: flex;
justify-content: center;
font-family: "Klee One" !important;
  font-weight: 100; 
  font-size: 24px;
  color: #137DB0;
}

p{
  font-family: "Klee One";
  font-size: 12px;
  color:#1A545C;
  text-align: center;
}
.div_form {
  background-color: white;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; 
  width: 400px;
  border-radius: 10px;
  border: 24px solid rgba(31, 99, 121, 0.5); 
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  align-items: center;
}

.icono_form {
  width: 100px;
  height: 90px;
  margin-left: 35%;
}

.completar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  
}

.nombre {
  margin-left: 2vw;
  padding: 12px;
  width: 250px;
  margin-bottom: 20px;
  margin-top: 6px;
  border-radius: 3px;
  background-color: transparent;
  border: #a2cdd3 solid 2px ;
}

.btn {
  color: white;
  font-family: "Klee One" !important;
}

.btn-color {
  background-color: #1A545C !important;
  color: #FFFFFF;
}

.btn-color:hover {
  color: #a2cdd3 !important;
}


.fecha {
  margin-left: 3vw;
  padding: 5px;
  width: 200px;
  margin-bottom: 15px;
}

.text-error {
color: red;
}

@media only screen and (max-width: 700px) and (min-width: 375px) {
  body {
    background-image: url("../img/caribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    margin: 0;
    height: 100vh; 
  }
  
  body::after {
    content: '';
    background: #333;
    position: absolute;
    width: calc(300vw + 200vw);
    height: calc(300% + 200vh);
    left: -30vw;
    top: 0vh;
    opacity: 0.4;
    z-index: -1;
  }
  
  header {
    width: 375px;
  }
  
  .contenedor_form .div_form {
    margin-left: 10%;
    margin-top: 100px;
    width: 65%;
    height: auto;
  }
  
  .icono_form {
    width: 80px;
    height: 70px;
    margin-left: 35%;
  }
  
  .nombre {
    margin-left: 7vw;
    padding: 10px;
    width: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
}
